{% extends 'rh/base.html' %}
{% block content %}

<a href="{% url 'dashboard' %}" class="btn btn-primary">
                Retour
            </a>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-4">
            <div class="card-header text-center">
                <h4>👤 Mon Profil</h4>
            </div>

            
            <div class="card-body">
                {% if user.photo %}
                <div class="text-center mb-3">
                    <img src="{{user.photo.url}}" width="100" 
                    style="border-radius: 50%;">
                </div>
                {% endif %}

                <p><strong>📧 Email: </strong> {{ user.email}}</p>
                <p><strong>👤 Nom: </strong> {{ user.nom}}</p>
                <p><strong>👤 Prenom: </strong> {{ user.prenom}}</p>
                <p><strong>🎂 Date de naissance: </strong> {{ user.date_naissance}}</p>

                <hr>
                <h5>✏️Modifier mon profil</h5>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>👤 Nom</label>
                        <input type="text" name="nom" class="form-control"
                        value="{{ user.nom }}">
                    </div>

                    <div class="mb-3">
                        <label>👤 Prenom</label>
                        <input type="text" name="prenom" class="form-control"
                        value="{{ user.prenom }}">
                    </div>

                    <div class="mb-3">
                        <label>🏠 Adresse</label>
                        <input type="text" name="adresse" class="form-control"
                        value="{{ user.adresse }}">
                    </div>

                    <div class="mb-3">
                        <label>📸 Photo de profil</label>
                        <input type="file" name="photo" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        💾 Enregistrer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}