{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <div class="card shadow">
        <div class="card-header bg-warning text-dark">
            <h4 class="mb-0">🔒 Changer mon mot de passe</h4>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-100">Enregistrer les modifications</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}